
{% extends "base.html" %}

{% block meta %}
<meta property="og:title" content="{{ homepage.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:description" content="{{ homepage.summary }}">
<meta name="description" content="{{ homepage.summary }}">
{% if homepage.banner %}<meta property="og:image" content="{{ homepage.banner }}">{% endif %}
<meta name="twitter:card" content="{{ 'summary_large_image' if homepage.banner else 'summary' }}">
<meta name="twitter:title" content="{{ homepage.title }}">
<meta name="twitter:description" content="{{ homepage.summary }}">
{% if homepage.banner %}<meta name="twitter:image" content="{{ homepage.banner }}">{% endif %}
{% endblock %}

{% block jsonld %}
<script type="application/ld+json">
{"@context": "https://schema.org", "@type": "WebSite", "name": {{ homepage.title | tojson }}, "url": {{ canonical_url | tojson }}}
</script>
{% endblock %}

{% block content %}

{% if homepage.banner %}
<div class="page-banner" style="background-image: url('{{ homepage.banner }}'); background-position: {{ ((homepage.banner_x or 0.5) * 100)|int }}% {{ ((homepage.banner_y or 0.5) * 100)|int }}%;"></div>
{% endif %}

<article class="homepage">
{{ homepage.html | safe }}
</article>

{% endblock %}
